html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
/*Data Table safalarý için standart CSS yapýlandýrmalarý*/
/* Tablo ve kartýn geniþlemesini saðlayan yapý */
.container-fluid {
    max-width: 90%;
}

.table-responsive {
    width: 100%;
}

/* Butonlarý düzenleme */
.action-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.update-btn, .delete-btn {
    flex: 1;
    text-align: center;
    padding: 5px 10px; /* Ýç boþluk */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Create Butonu */
.create-btn {
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5);
    flex: none;
    padding: 5px 10px; /* Ýç boþluk */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

    .create-btn:hover {
        animation: blink-create 0.5s infinite alternate;
    }

/* Update Butonu */
.update-btn {
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.8);
}

    .update-btn:hover {
        animation: blink-update 0.5s infinite alternate;
    }

/* Delete Butonu */
.delete-btn {
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5);
}

    .delete-btn:hover {
        animation: blink-delete 0.8s infinite alternate;
    }

/*Back Butonu*/
.back-btn {
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5);
}

    .back-btn:hover {
        animation: blink-delete 0.8s infinite alternate;
    }

/* Animasyonlar */
@keyframes blink-create {
    0% {
        background-color: green;
        box-shadow: 0 4px 12px rgba(0, 255, 0, 0.8);
    }

    100% {
        background-color: darkgreen;
        box-shadow: 0 4px 16px rgba(0, 255, 0, 1);
    }
}

@keyframes blink-update {
    0% {
        background-color: orange;
        box-shadow: 0 4px 12px rgba(255, 165, 0, 0.8);
    }

    100% {
        background-color: darkorange;
        box-shadow: 0 4px 16px rgba(255, 165, 0, 1);
    }
}

@keyframes blink-delete {
    0% {
        background-color: red;
        box-shadow: 0 4px 12px rgba(255, 0, 0, 0.8);
    }

    100% {
        background-color: darkred;
        box-shadow: 0 4px 16px rgba(255, 0, 0, 1);
    }
}

@keyframes blink-back {
    0% {
        background-color: red;
        box-shadow: 0 4px 12px rgba(255, 0, 0, 0.8);
    }

    100% {
        background-color: darkred;
        box-shadow: 0 4px 16px rgba(255, 0, 0, 1);
    }
}
